body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    width: 600px;
    height: 1161px;
    border: 2px solid #000;
    font-family: 'Smythe', cursive;
    display:flex;
    flex-direction: column;
    position: relative;
}

/* ===== HERO SECTION STYLING =====*/

.hero {
    background-image: url('/images/hero_image_burgers.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color:aliceblue;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    margin: 0;
    font-size: 39px;
}

.hero p {
    margin: 0;
    font-size: 22.42px;
}

/* ===== ITEMS SECTION STYLING =====*/
.items {
    display: flex;
    flex-direction: column;
    margin: 67px 46px 46px 46px;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 30px;
    margin-bottom: 46px;
    border-bottom: 1px solid #8B8B8B;
}

/*Item left column*/
.item-left-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*Item emoji*/
.item-emoji p{
    margin: 0px;
    font-size: 78.72px;
}
/*Item info*/

.item-info {
    display: flex;
    flex-direction: column;
}

.item-info h2 {
    margin: 0;
    font-size: 28px;
}

.item-info p {
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: #8B8B8B;
}

.item-info .price {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}

/* Add item button */
.add-item-button {
    width: 50px;
    height: 50px;
    border: 2px solid #8B8B8B;
    border-radius: 100%;
    cursor: pointer;
}

.add-item-button i {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    line-height: 50px;
}

.add-item-button:hover {
    border: 2px solid #000;
    position: relative;
    bottom: 2px;
}

/* ===== CHECKOUT SECTION STYLING =====*/
.checkout-section {
    margin: 0px 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toggleDisplay {
    display: none;
}

.checkout-section h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/*Checkout Items*/
.checkout-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-items-list {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

/*Checkout Single Item*/
.checkout-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkout-item .item-name {
    font-size: 28px;
}

.remove-item-button {
    cursor: pointer;
    color: #BBBBBB;
    background: none;
    border: none;
    font-size: 12px;
}

.checkout-item .item-price {
    font-size: 20px;
}

/*Checkout Total*/
.checkout-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 28px;
}

/*Checkout Actions*/
.checkout-actions {
    width: 100%;
    height: 60px;
    border: none;
}

.complete-order-button {
    background-color: #16DB99;
    color: white;
    font-size: 24px;
    width : 100%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.complete-order-button:hover {
    background-color: #13b885;
    position: relative;
    bottom: 2px;
}


/* ===== PAYMENT MODAL STYLING =====*/
.payment-modal{
    width: 524px;
    height: 542px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 2px solid #000;
    left: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.payment-modal h2{
    margin: 50px 0;
    font-size: 24px;

}

.payment-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group input{
    width: 475px;
    height: 71px;
    font-size: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.payment-form button{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: #16DB99;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}


/* ===== THANK YOU MESSAGE STYLING =====*/
.thank-you-message{
    width: 504px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    background-color: #ECFDF5;
    color: #065F46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
}

.hidden {
    display: none;
}