body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    width: 600px;
    height: 1161px;
    border: 2px solid #000;
    font-family: 'Smythe', cursive;
    display:flex;
    flex-direction: column;

}

/* ===== HERO SECTION STYLING =====*/

.hero {
    background-image: url('/images/hero_image_burgers.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color:aliceblue;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    margin: 0;
    font-size: 39px;
}

.hero p {
    margin: 0;
    font-size: 22.42px;
}

/* ===== ITEMS SECTION STYLING =====*/
.items {
    display: flex;
    flex-direction: column;
    margin: 67px 46px 46px 46px;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 30px;
    margin-bottom: 46px;
    border-bottom: 1px solid #8B8B8B;
}

/*Item left column*/
.item-left-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*Item emoji*/
.item-emoji p{
    margin: 0px;
    font-size: 78.72px;
}
/*Item info*/

.item-info {
    display: flex;
    flex-direction: column;
}

.item-info h2 {
    margin: 0;
    font-size: 28px;
}

.item-info p {
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: #8B8B8B;
}

.item-info .price {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}

/* Add item button */
.add-item-button {
    width: 50px;
    height: 50px;
    border: 2px solid #8B8B8B;
    border-radius: 100%;
    cursor: pointer;
}

.add-item-button i {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    line-height: 50px;
}